.myform{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: 10% auto;
    max-width: 676px;
    background-color: var(--white);
    padding: 24px;
    z-index: 1000;
}
.myform_hide{
    display: none;
}
.myform__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
}
.myform__title{
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.0124em;
    color: var(--main-text);
}
.myform__title:hover{
    cursor: default;
}
.myform__button-close{
    background: none;
    border: none;
}
.myform__button-close:hover{
    cursor: pointer;
}
.myform__mid{
    display: flex;
    margin: 51px 0 10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.myform__input-name{
    flex: 1;
    min-width: 190px;
    margin: 0 15px 12px 0;
}
.myform__input-name-error{
    display: none;
    align-items: center;
    margin-bottom: 10px;
}
.myform__input-name-error-x{
    height: 8px;
    width: 8px;
    stroke-width: 2;
    stroke: var(--red);
    margin-right: 10px;
}
.myform__input-name-error-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--red);
}
.select-file-wrapper{
    position: relative;
    height: 52px;
}
.select-file-label{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    bottom: 0px;
}
.select-file-label::after{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    transition: width .4s;
    z-index: 11;
    background: var(--white);
    opacity: 0.1;
}

.select-file-label:hover::after{
    width: 100%;
}
.select-file{
    opacity: 0;
    position: absolute;
    color: transparent;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.myform__button-load-file{
    margin-bottom: 12px;
}
.myform__comment-text{
    margin-top: 64px;
}
.myform__bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.myform__info{
    display: flex;
    padding: 10px 0;
}
.myform__info-icon{
    display: block;
    height: 18px;
    width: 18px;
    margin: 0 10px 0 17px;
}
.myform__info-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);
}
.myform__info-text:hover{
    cursor: default;
}
.myform__input-name-error-show{
    display: flex;
}
.load-file{
    display: flex;
    width: max-content;
    height: 56px;
    padding: 10px;
    background: var(--light-grey-2);
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}
.load-file__icon{
    height: 28px;
    width: 28px;
    background: url(./../../static/icons/jpg.png) no-repeat;
}
.load-file__mid{
    margin: 0 15px;
}
.load-file__name{
    padding-right: 10px;
    margin-bottom: 5px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-text);
}
.load-file__progress{
    border-bottom: 4px var(--purple) solid;
}
.load-file__delete-or-loading{
    position: relative;
    height: 18px;
    width: 18px;
}
.load-file__loading{
    display: none;
    height: 18px;
    width: 18px;
    position: absolute;
    background: url(./../../static/icons/loading.png) no-repeat;
}
.load-file__delete{
    border: none;
    height: 18px;
    width: 18px;
    position: absolute;
    background: url(./../../static/icons/delete.png) no-repeat;
}
.load-file__delete:hover{
    background: url(./../../static/icons/hover-delete.png) no-repeat;
}
@media (max-width: 576px) {
    .select-file-wrapper{
        height: 42px;
    }
    .myform__info-text{
        font-size: 12px;
        line-height: 16px;
    }
    .myform__title{
        font-size: 20px;
        line-height: 24px;
    }
    .myform__button-load-file::before{
        transform: scale(0.8);
    }
    .mtform__button-send{
        flex: 1;
        min-width: 170px;
    }
}