.myform{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: 10% auto;
    max-width: 676px;
    background-color: var(--white);
    padding: 24px;
    z-index: 1000;
}
.myform__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
}
.myform__title{
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.0124em;
    color: var(--main-text);
}
.myform__title:hover{
    cursor: default;
}
.myform__button-close{
    background: none;
    border: none;
}
.myform__button-close:hover{
    cursor: pointer;
}
.myform__mid{
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.myform__input-name{
    flex: 1;
    min-width: 190px;
    margin: 0 15px 12px 0;
}
.myform__button-load-file{
    margin-bottom: 12px;
}
.myform__comment-text{
    margin-top: 64px;
}
.myform__bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.myform__info{
    display: flex;
    padding: 10px 0;
}
.myform__info-icon{
    display: block;
    height: 18px;
    width: 18px;
    margin: 0 10px 0 17px;
}
.myform__info-text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);
}
.myform__info-text:hover{
    cursor: default;
}
@media (max-width: 576px) {
    .myform__info-text{
        font-size: 12px;
        line-height: 16px;
    }
    .myform__title{
        font-size: 20px;
        line-height: 24px;
    }
    .myform__button-load-file::before{
        transform: scale(0.8);
    }
    .mtform__button-send{
        flex: 1;
        min-width: 170px;
    }
}