.inputError{
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 40px;
}

.inputError__text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--red);
}

/* X error */

.inputError__X{
    position: relative;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin: 7px 4px 0px 0px;
}
.inputError__X1{
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid var(--red);
    transform: translateY(-3.6px);
}
.inputError__X2{
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 1px solid var(--red);
    transform: translateX(3.5px);
}