@import 'fonts.css';
@import './../components/UI/button/MyButton.module.css';
@import './../components/UI/input/MyInput.module.css';
@import './../components/UI/multiline-input/MultilineInput.module.css';
@import './../components/Header/Header.module.css';
@import './../components/Footer/Footer.module.css';
@import './../components/Comment/Comment.module.css';
@import './../components/Slider/Slider.module.css';
@import './../components/UI/button-arrow/ButtonArrow.module.css';
@import './../components/SliderNavigation/SliderNavigation.module.css';
@import './../components/Presentation/Presentation.module.css';
@import './../components/Form/Form.module.css';
@import './../components/FlashMessage/FlashMessage.module.css';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;

    --main-text: #333333;
    --white: #FFFFFF;
    --grey: #8A8A8A;
    --purple: #585CC6;
    --light-grey: #E0E0E0;
    --purple-hover: #797DDF;
    --white-buttons-hover: #C2C4FF;
    --light-grey-2: #F5F5F5;
    --red: #EB5757;
    --green: #61BF4A;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1312px;

    --container: 1280px;
}

.App{
    width: 100%;
    background-color: var(--purple);
    z-index: 1; 
}
.blackout{
    position: fixed;
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    background-color: black;
    z-index: 900;
    opacity: 0.5;

    display: none;
}
.blur{
    filter: blur(0px);
}
.background-img{
    height: 1380px;
    position: absolute;
    right: 0px;
    top: 0px;
}
