.myBtn {
    display: flex;
    position: relative;
    height: 52px;
    padding: 0 28px;   
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 18px;
    line-height: 52px;
    width: max-content;
}
.myBtn span{
    z-index: 1000;
}
.myBtn::after{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    transition: width .4s;
}
.myBtn:hover::after{
    width: 100%;
}
.myBtn:disabled{
    cursor: default;
}
.myBtn:disabled::after{
    display: none;
}

/* Button_1 */

.button_1{
    background: var(--white);
    color: var(--main-text);
}
.button_1::after{
    background: rgba(88, 92, 198, 0.1);; 
}
.button_1:disabled{
    background-color: var(--light-grey);
}
.button_1:active{
    background-color: var(--white-buttons-hover);
}
.button_1:active::after{
    background-color: var(--white-buttons-hover);
}

/* Button_icon */

.button_icon::before{
    content: '';
    display: block;
    margin: auto 9px auto 0;
    color: var(--white);
    background: url(./../../../static/icons/white-plus.png) no-repeat;

    width: 20px;
    height: 18px;
    z-index: 1000;
}

/* Button 2, Button_icon */

.button_2,
.button_icon{
    background: var(--purple);
    color: var(--white);
}
.button_2::after,
.button_icon::after{
    background: #696DC8;
}
.button_2:disabled,
.button_icon:disabled{
    background-color: var(--grey);
}
.button_2:active,
.button_icon:active{
    background-color: var(--purple-hover);
}
.button_2:active::after,
.button_icon:active::after{
    background-color: var(--purple-hover);
}

