.multilineInput{
    position: relative;
}

.multilineInput__body{
    resize: none;
    width: 100%;
    min-height: 105px;
    padding: 12px 12px;
    border: 1px solid var(--light-grey);
    border-radius: 2px;
    cursor: text;
    color: var(--main-text);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.multilineInput__body::placeholder{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey);
}

.multilineInput__body:focus{
    border: 1px solid var(--purple);
    outline: none;
}

/* label */

.multilineInput__label{
    position: absolute;
    top: -30px;
    font-family: 'Factor A';
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--main-text);
    letter-spacing: -0.0124em;
}

/* counter */

.multilineInput__counter{
    position: absolute;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: var(--grey);
    right: 5px;
    bottom: 43px;
}

.multilineInput__error{
    height: 40px;
    position: relative;
}

.multilineInput__wraper{
    display: flex;
}