.load-file{
    display: flex;
    width: max-content;
    height: 56px;
    padding: 10px;
    background: var(--light-grey-2);
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}
.load-file__icon{
    height: 28px;
    width: 28px;
    background: url(./../../static/icons/jpg.png) no-repeat;
}
.load-file__mid{
    margin: 0 15px;
}
.load-file__name{
    padding-right: 10px;
    margin-bottom: 5px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-text);
}
.load-file__progress{
    border-bottom: 4px var(--purple) solid;
}
.load-file__delete-or-loading{
    position: relative;
    height: 18px;
    width: 18px;
}
.load-file__loading{
    display: none;
    height: 18px;
    width: 18px;
    position: absolute;
    background: url(./../../static/icons/loading.png) no-repeat;
}
.load-file__delete{
    height: 18px;
    width: 18px;
    position: absolute;
    background: url(./../../static/icons/delete.png) no-repeat;
}
.load-file__delete:hover{
    background: url(./../../static/icons/hover-delete.png) no-repeat;
}