.header {
    width: 100%;
    height: 116px;
    background-color: var(--white);
}
.header__container {
    max-width: var(--container);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.header__user {
    display: flex;
    width: max-content;
    align-items: center;
}
.header__username {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    color: var(--main-text);
    margin-left: 20px;
    width: 20vw;
    text-overflow: clip;
    overflow: hidden;
}

.header__avatar {
    width: 52px;
    height: 52px;
    border: 1px solid var(--light-grey);
    background-color: var(--white);
}

.header__logo-wrap {
    position: absolute;
    left: 0;
    right: 0;
}

.header__logo {
    display: block;
    margin: 0 auto;
    width: 86px;
    height: 52px;
}
@media (max-width: 1312px) {
    .header__container {
        margin: 0 16px;
    }
}
@media (max-width: 576px) {
    .header {
        height: 77px;
    }
    .header__avatar {
        height: 36px;
        width: 36px;
    }
    .header__username {
        font-size: 12px;
        line-height: 14px;
        height: 14px;
        width: 20vw;
        margin-left: 8px;
    }
    .header__logo {
        width: 59px;
        height: 36px;
    }
    .header__button{
        height: 42px;
        width: 42px;
        padding: 0;
        justify-content: center;
    }
    .header__button::before{
        content: '';
        background: url(./../../static/icons/button-header-mob.png) no-repeat;
        position: absolute;
        height: 36px;
        width: 36px;
    }
    .header__button::after{
        opacity: 0.1;
        background: var(--white);
        z-index: 101;
    }
    .header__button span{
        display: none;
    }
}
